$header_links_fontSize: 4vh;
$header_height: 8vh;
$particleSlider_height: 57vh;
$welcome_height: 30vh;
$footer_height: 5vh;
$block_title_height: 30vh;
$footer_bg_color: black;
$footer_font_color: white;
$font_size: 3vh;
$font_family: 'Amatic SC', cursive;

html,body, .header_links {
  width: 100%;
  height: 100%;
}
input, textarea {
	outline:none;
}
/* Home_block*/           
.header {
	height: $header_height;
	width: 100%;
	position: fixed;
	z-index: 999;
	background-color: white;
}
.blank_header {
	height: $header_height;
	width: 100%;
}
.header_links_parent {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: space-between;
}
.header_links_children {
	flex-grow: 25;
}
.header_links_children a {
	height: 100%;
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
	color: black;
	font-size: $header_links_fontSize;
	display: flex;
	justify-content: center; 
	align-items: center; 
		&:hover {
			text-decoration: none;
			background-color: black;
			color: white;
		}
}

.welcome {
	width: 100%;
	min-height: $welcome_height;
	padding: 2vh;
	text-align: center;
	font-family: $font_family;
	box-sizing: content-box
		h2 {
			font-size: $font_size + 1;
		}
		.welcome_text {
			font-size: $font_size;
		}
}
/* Home_block*/ 

/* Skills_block*/
.block_title {
	background: #fff;
	width: 100%;
	height: $block_title_height;
	position: relative;
    text-align: center;
    overflow: hidden;
    /* margin: 0 3%; */
		&:before {
			transition: .6s;
			content: '';
			position: absolute;
			left: 0%;
			top: 40%;
			width: 100%;
			height: 5px;
			background: #d4d4d4;
			pointer-events: none;
		}
		h1 {
			background: #fff;
			z-index: 1;
			position: relative;
			display: inline-block;
			font: 400 650%/130% 'Open Sans';
			padding: 0 3% 40px 8%;
			margin: 2% 0;
			text-transform: uppercase;
			color: #131313;
			letter-spacing: .15em;
			text-shadow: #c0c0c0 -1px 1px 0, #c2c2c2 -2px 2px 0, #c3c3c3 -3px 3px 0, #c5c5c5 -4px 4px 0, #c6c6c6 -5px 5px 0, #c8c8c8 -6px 6px 0, #c9c9c9 -7px 7px 0, #cbcbcb -8px 8px 0, #ccc -9px 9px 0, #cecece -10px 10px 0, #cfcfcf -11px 11px 0, #d1d1d1 -12px 12px 0, #d2d2d2 -13px 13px 0, #d4d4d4 -14px 14px 0, #d5d5d5 -15px 15px 0, #d7d7d7 -16px 16px 0, #d8d8d8 -17px 17px 0, #dadada -18px 18px 0, #dbdbdb -19px 19px 0, #ddd -20px 20px 0, #dfdfdf -21px 21px 0, #e0e0e0 -22px 22px 0, #e2e2e2 -23px 23px 0, #e3e3e3 -24px 24px 0, #e5e5e5 -25px 25px 0, #e6e6e6 -26px 26px 0, #e8e8e8 -27px 27px 0, #e9e9e9 -28px 28px 0, #ebebeb -29px 29px 0, #ececec -30px 30px 0, #eee -31px 31px 0, #efefef -32px 32px 0, #f1f1f1 -33px 33px 0, #f2f2f2 -34px 34px 0, #f4f4f4 -35px 35px 0, #f5f5f5 -36px 36px 0, #f7f7f7 -37px 37px 0, #f8f8f8 -38px 38px 0, #fafafa -39px 39px 0, #fbfbfb -40px 40px 0, #fdfdfd -41px 41px 0, #fff -42px 42px 0;
		}
}
.particle-slider {
	width: 100%;
	height: $particleSlider_height;
}
/* Skills_block*/

/* Footer_block*/
.footer {
	width: 100%;
	height: $footer_height;
	background-color: $footer_bg_color;
	color: $footer_font_color;
	display: flex;
	justify-content: center; 
	align-items: center; 
	position: fixed;
	top: 0;
	margin-top: 95vh;
	z-index: 1;
}
.footer_blank {
	width: 100%;
	height: $footer_height;
}
/* Footer_block*/