.about_me_header {
  height: 26vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  position: relative; }
  .about_me_header hr {
    border-top: 4px solid #eee; }
  .about_me_header .line {
    flex-basis: 36vw;
    margin-top: 13vh; }
  .about_me_header .foto_center {
    flex-basis: 24vw; }
    .about_me_header .foto_center .foto {
      width: 25vh;
      height: 25vh;
      overflow: hidden;
      background-image: url(../img/slide2.png);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      margin: 0 auto;
      position: absolute;
      top: 0.5vh;
      left: 0;
      bottom: 0;
      right: 0;
      background-position: -475vh;
      -webkit-animation-name: gif;
      -webkit-animation-delay: 0.5s;
      -webkit-animation-timing-function: steps(17, start);
      -webkit-animation-duration: 1.5s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: forwards;
      -moz-animation: gif 1.5s steps(19, start) 0.5s 1 forwards;
      -ms-animation: gif 1.5s steps(19, start) 0.5s 1 forwards;
      -o-animation: gif 1.5s steps(19, start) 0.5s 1 forwards;
      animation: gif 1.5s steps(19, start) 0.5s 1 forwards; }

@-webkit-keyframes gif {
  0% {
    background-position: -475vh; }
  100% {
    background-position: 0vh; } }

@-moz-keyframes gif {
  from {
    background-position: -475vh; }
  to {
    background-position: 0vh; } }

@-ms-keyframes gif {
  from {
    background-position: -475vh; }
  to {
    background-position: 0vh; } }

@-o-keyframes gif {
  from {
    background-position: -475vh; }
  to {
    background-position: 0vh; } }

@keyframes gif {
  from {
    background-position: -475vh; }
  to {
    background-position: 0vh; } }
